* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Monospace;
}

.hidden {
    display: none;
}

#status {
    height:         120px;
    overflow:       auto;
}

.game {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 120px);
}