* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Monospace;
}

body {
    display: flex;
}

.main {
    flex: 5;
}

.chat {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100vh;
    min-width: 300px;
}

#chatMsg {
    flex: 1;
    overflow: auto;
}

#chatMsg p {
    margin: 2px;
}

.chat h3 {
    text-align: center;
}

.chat input {
    height: 14pt;
}

.hidden {
    display: none;
}

#status {
    height:         120px;
    overflow:       auto;
}

.game {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 120px);
}